Repository i18next/react-i18next, pull requests merged in 2019-01, with the labels that each got.

#672 Sync typescript setup with i18next using dtslint and prettier
  .prettierrc
  hooks.d.ts
  package.json
  src/index.d.ts
  test/typescript/NamespacesConsumer.test.tsx
  test/typescript/examples-react.test.tsx
  tsconfig.json
  tslint.json
Labels: typescript

#678 Fix WithNamespacesOptions `wait` requirement
  src/index.d.ts
  test/typescript/withNamespaces.test.tsx
Labels: typescript

#665 add generic type to t function and the tests
  package.json
  src/index.d.ts
  test/typescript/GenericTlanslateFunction.test.tsx
Labels: pr hold, typescript

#682 hooks variant Trans props and useTranslation typings
  hooks.d.ts
Labels: typescript

#688 TS cleanup
  .gitignore
  hooks.d.ts
  src/index.d.ts
  test/typescript/GenericTranslateFunction.test.tsx
  test/typescript/NamespacesConsumer.test.tsx
  test/typescript/examples-react.test.tsx
  test/typescript/withNamespaces.test.tsx
Labels: typescript

#691 TS generics fixes related to i18next/1180
  package.json
  test/typescript/GenericTranslateFunction.test.tsx
Labels: typescript

#694 TFunction usage inside NamespacesConsumer should behave
  package.json
  src/index.d.ts
  test/typescript/NamespacesConsumer.test.tsx
Labels: typescript

#699 Add TS definition for reportNS prop
  src/index.d.ts
Labels: typescript

#709 Add typescript for Translation component - clarify options, simplify redundant use of t
  src/Translation.js
  src/index.d.ts
  test/typescript/Translation.test.tsx
Labels: typescript, v10 (hooks)
